*,
*:after,
*:befor {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Montserrat;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.form {
  text-align: center;
  padding: 30px 0;
}

.input {
  width: 250px;
  border: 1px solid #51c069;
  outline: transparent;
  padding: 10px 16px;
  margin-right: 15px;
}

.button {
  background-color: #81e981;
  border: none;
  cursor: pointer;
  color: #0f0f0f;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 7px 25px;
  margin-left: -10px;
}

.button:hover {
  background-color: #a6c947;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 100px;
  max-width: calc(100vw - 48px);
  justify-content: center;
}

.gallery-item {
  margin-left: 20px;
  transition: transform 0.5s;
}

.gallery-item:hover,
.gallery-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: scale(1.05);
}

.gallery-image {
  height: 100%;
  object-fit: cover;
  border: none;
  display: block;
  margin: 0 auto;
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border-radius: 7px;
}

.gallery-link {
  min-width: 320px;
}

.block {
  text-align: center;
}

.title {
  color: #212127;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.amount {
  color: #212127;
  font-family: Montserrat;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid #b7ee5f;
  border-top: none;
  padding: 10px 0;
  background-color: #cee46d;
}

.loader {
  color: #131411;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.hidden-loader {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  border: 1px solid #cee46d;
}
